@import 'assets/scss/now-ui-kit/_variables.scss';
#about-me.section-about-me {

    padding-top:30px;

    h3.title {
        margin-bottom: 70px;
    }
    #about-me-card {

        p {
            margin-bottom: 50px;
        }

        #my-photo {
            max-width: 10rem;
            margin-top: -3rem;
            
        }

    }
    .domain-containers {
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        // border:1px solid black;
        margin-top: -80px;

        .domain-container {
            margin: 1rem;
            cursor:pointer;
            width: 70px;
            height:70px;
            border-radius:50%;
            // background-color: $light-gray;
            box-shadow: $box-shadow-raised;
            text-align: center;
            z-index: 100;

            img {
                width:100%;
                opacity: 1;
                // z-index: 1000;

            }
            
            img:hover {
                -webkit-transform: scale(1.3);
                -moz-transform:    scale(1.3);
                -ms-transform:     scale(1.3);
                -o-transform:      scale(1.3);
                transform:         scale(1.3);
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .badges-container {
        margin-top: 1rem;
        .badge {
            margin:.3rem;
            opacity:0.5;
            &:hover {
                opacity:1;
            }
        }
    }
}


@media screen and (max-width: 500px) {
    #about-me.section-about-me {
        .domain-containers {
            .domain-container {
                width: 50px;
                height: 50px;
            }
        }
    }
}