@import 'assets/scss/now-ui-kit/_variables.scss';

.section-contact {
    padding-top: 30px;
    background-image: linear-gradient(to top, rgba(9, 49, 54, 0.4), rgba(9, 49, 54, 1)),(url("./../../assets/img/greysen-johnson-iw6Z9qKSS2k-unsplash.jpg"));
    background-size: cover;
    background-position: top center;

    // background-image: url(("./../../assets/img/jonathan-borba-3o5oUjrD90w-unsplash_grad_rot.png"));
    // background-size: cover;
    // 
    // min-height: 700px;

    .fa-envelope {
        font-size: 2rem;
        color: black;
    }

    textarea.form-control {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

    }
}