.section-contact {

    background-color:#1B1E28;

    // background-image: url(("./../../assets/img/jonathan-borba-3o5oUjrD90w-unsplash_grad_rot.png"));
    // background-size: cover;
    // background-position: top center;
    // min-height: 700px;

    .fa-envelope {
        font-size: 2rem;
        color: black;
    }

    textarea.form-control {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

    }
}