.education-timeline {
    padding-top: 1.5rem;
    padding-left: 1.5rem;

    .timeline-icon{
        width: 50px;
        margin: 10px 30px 20px 15px;
    }

    .timeline:hover .timeline-image{
        transform:scale(1.2);
        transition:all .3s;
    }

    .timeline-image{
        width: 100%;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        opacity: .8;
    }

    .education-item {
        display: flex;
        align-items:center;
        text-align: left;
    }

    .education-item .degree {
        font-weight: 500;
    }

    a {
        color:black;
        &:visited, &:hover {
            color:black
        }
    }

}