.main-timeline .timeline-icon{
    width: 100px;
    margin: 10px 30px 20px 15px;
}

.main-timeline .timeline:hover .timeline-image{
	transform:scale(1.2);
	transition:all .3s;
}

.main-timeline .timeline-image{
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .8;
}

.main-timeline .education-item {
    display: flex;
    align-items:center;
    text-align: left;
}

.main-timeline .education-item .degree {
    font-weight: bold;
}