// .collections{
    
//     iframe {
//     height: 500px;
//     width: 100%;
//     }
// }

@import 'assets/scss/now-ui-kit/_variables.scss';

.portfolio-section {

    ul.nav-pills-info li.nav-item a.nav-link {
        cursor: pointer;
    }
    padding-top: 0px;
    padding-bottom: 0px;

    // background-image: url(("./../../assets/img/jonathan-borba-3o5oUjrD90w-unsplash_grad.png"));
    // background-size: cover;
    // background-position: bottom center;
    // min-height: 700px;
    background-color: $light-gray;
    background-image: linear-gradient(to top, rgb(9, 49, 54), rgba(255,255,255, 1));
    position: top center;

    .codepens {

        .thumbnail {
            width: 100%;
            height: 600px;
            margin-bottom: 2rem;

            iframe {
                width: 100%;
                height: 100%;
            }
        }               

        // .thumbnail iframe {
        //     width: 900px;
        //     height: 480px;

        //     -webkit-transform-origin: 0 0;
        //     -moz-transform-origin: 0 0;
        //     transform-origin: 0 0;

        //     -webkit-transform:  scale(0.5, 0.5);
        //     -moz-transform:  scale(0.5, 0.5);
        //     transform:  scale(0.5, 0.5);

        //     overflow: hidden;
        // }

    }

    .repl {

        .repl-card {
            &:hover {
                transform: scale(1.05);
                transition: all .2s ease-in-out;
            }
        }

        .repl-header {
            height: 200px;

            &#exercise-tracker {
                background-image: (url("./../../assets/img/repls/bruno-nascimento-PHIgYUGQPvU-unsplash.jpg"));
                background-size: cover;
                background-position: center;

            }
            &#url-shortner {
                background-image: (url("./../../assets/img/repls/markus-winkler-jid7TSoa02c-unsplash.jpg"));
                background-size: cover;
                background-position: center;
                // background-image: url("./../../assets/imgassets/img/mr-cup-fabien-barral-o6GEPQXnqMY-unsplash.jpg");
            }
            &#file-metadata {
                background-image: (url("./../../assets/img/repls/mr-cup-fabien-barral-o6GEPQXnqMY-unsplash.jpg"));
                background-size: cover;
                background-position: center;
                // background-image: url("./../../assets/imgassets/img/mr-cup-fabien-barral-o6GEPQXnqMY-unsplash.jpg");
            }
            &#timestamp-converter {
                background-image: (url("./../../assets/img/repls/aron-visuals-BXOXnQ26B7o-unsplash.jpg"));
                background-size: cover;
                background-position: center;
                // background-image: url("./../../assets/imgassets/img/mr-cup-fabien-barral-o6GEPQXnqMY-unsplash.jpg");
            }
        }

        .repl-container {
            width: 100%;
            // height: 200px;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            p {
                margin-bottom: 0px;
                color: black;
                button.repl-link-button {
                    margin-left: 1rem;
                }
            }
            
        }
    }
}