@import 'assets/scss/now-ui-kit/_variables.scss';

    
  .long {
    width: 100%;
    background-color: #010e19;
  }
    
  .scroll {
    opacity: 0.5;
    background-color: $dark-gray;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
      opacity: 1;
    }
  }
  
  .fa-chevron-up {
    color: white;

  }
    